In [28]:
import pandas as pd

In [29]:
df=pd.read_csv("data.csv")

In [30]:
df.dtypes

Age                 int64
BMI               float64
Glucose             int64
Insulin           float64
HOMA              float64
Leptin            float64
Adiponectin       float64
Resistin          float64
MCP.1             float64
Classification     object
dtype: object

In [31]:
df.describe()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000
mean,57.301724,27.582111,97.793103,10.012086,2.694988,26.615080,10.180874,14.725966,534.647000
std,16.112766,5.020136,22.525162,10.067768,3.642043,19.183294,6.843341,12.390646,345.912663
min,24.000000,18.370000,60.000000,2.432000,0.467409,4.311000,1.656020,3.210000,45.843000
25%,45.000000,22.973205,85.750000,4.359250,0.917966,12.313675,5.474283,6.881763,269.978250
50%,56.000000,27.662416,92.000000,5.924500,1.380939,20.271000,8.352692,10.827740,471.322500
75%,71.000000,31.241442,102.000000,11.189250,2.857787,37.378300,11.815970,17.755207,700.085000
max,89.000000,38.578759,201.000000,58.460000,25.050342,90.280000,38.040000,82.100000,1698.440000

In [32]:
df.groupby(by=['Age']).size()

Age
24    1
25    1
28    1
29    2
32    1
34    3
35    2
36    2
38    2
40    2
41    1
42    2
43    3
44    4
45    7
46    3
47    1
48    4
49    5
50    1
51    4
52    1
53    1
54    3
55    1
57    1
58    1
59    2
60    2
61    1
62    2
64    2
65    3
66    5
67    1
68    3
69    5
71    3
72    3
73    2
74    1
75    4
76    4
77    2
78    1
81    1
82    2
83    1
85    2
86    3
89    1
dtype: int64

In [33]:
df.isna().sum()

Age               0
BMI               0
Glucose           0
Insulin           0
HOMA              0
Leptin            0
Adiponectin       0
Resistin          0
MCP.1             0
Classification    0
dtype: int64

In [34]:
df.isnull()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
111,False,False,False,False,False,False,False,False,False,False
112,False,False,False,False,False,False,False,False,False,False
113,False,False,False,False,False,False,False,False,False,False
114,False,False,False,False,False,False,False,False,False,False
115,False,False,False,False,False,False,False,False,False,False

In [35]:
type("Age")

str

In [36]:
type("BMI")

str

In [37]:
df.Age.astype(float)

0      48.0
1      83.0
2      82.0
3      68.0
4      86.0
       ...
111    45.0
112    62.0
113    65.0
114    72.0
115    86.0
Name: Age, Length: 116, dtype: float64

In [38]:
df.Age=df.Age.astype(float)

In [39]:
df.describe()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000
mean,57.301724,27.582111,97.793103,10.012086,2.694988,26.615080,10.180874,14.725966,534.647000
std,16.112766,5.020136,22.525162,10.067768,3.642043,19.183294,6.843341,12.390646,345.912663
min,24.000000,18.370000,60.000000,2.432000,0.467409,4.311000,1.656020,3.210000,45.843000
25%,45.000000,22.973205,85.750000,4.359250,0.917966,12.313675,5.474283,6.881763,269.978250
50%,56.000000,27.662416,92.000000,5.924500,1.380939,20.271000,8.352692,10.827740,471.322500
75%,71.000000,31.241442,102.000000,11.189250,2.857787,37.378300,11.815970,17.755207,700.085000
max,89.000000,38.578759,201.000000,58.460000,25.050342,90.280000,38.040000,82.100000,1698.440000

In [40]:
df.dtypes

Age               float64
BMI               float64
Glucose             int64
Insulin           float64
HOMA              float64
Leptin            float64
Adiponectin       float64
Resistin          float64
MCP.1             float64
Classification     object
dtype: object

In [41]:
df.sort_values('Age')

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
13,24.0,18.670000,88,6.107,1.330000,8.8800,36.060000,6.85000,632.220,1
12,25.0,22.860000,82,4.090,0.827271,20.4500,23.670000,5.14000,313.730,1
32,28.0,35.855815,87,8.576,1.840410,68.5102,4.794200,21.44366,358.624,1
11,29.0,23.010000,82,5.663,1.145436,35.5900,26.720000,4.58000,174.800,1
22,29.0,32.270788,84,5.810,1.203832,45.6196,6.209635,24.60330,904.981,1
...,...,...,...,...,...,...,...,...,...,...
87,85.0,27.688778,196,51.814,25.050342,70.8824,7.901685,55.21530,1078.359,2
78,86.0,26.666667,201,41.611,20.630734,47.6470,5.357135,24.37010,1698.440,2
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2
6,89.0,22.700000,77,4.690,0.890787,6.9640,5.589865,12.93610,1256.083,1

In [42]:
df.sort_values('Age',ascending=False)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
6,89.0,22.700000,77,4.690,0.890787,6.9640,5.589865,12.93610,1256.083,1
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2
78,86.0,26.666667,201,41.611,20.630734,47.6470,5.357135,24.37010,1698.440,2
49,85.0,26.600000,96,4.462,1.056602,7.8500,7.931700,9.61350,232.006,1
...,...,...,...,...,...,...,...,...,...,...
11,29.0,23.010000,82,5.663,1.145436,35.5900,26.720000,4.58000,174.800,1
22,29.0,32.270788,84,5.810,1.203832,45.6196,6.209635,24.60330,904.981,1
32,28.0,35.855815,87,8.576,1.840410,68.5102,4.794200,21.44366,358.624,1
12,25.0,22.860000,82,4.090,0.827271,20.4500,23.670000,5.14000,313.730,1
13,24.0,18.670000,88,6.107,1.330000,8.8800,36.060000,6.85000,632.220,1

In [43]:
df.rename(columns={'Age':'Year Old'})

,Year Old,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48.0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83.0,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45.0,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62.0,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65.0,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72.0,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [44]:
df.sort_index()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48.0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83.0,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45.0,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62.0,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65.0,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72.0,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [45]:
df.reset_index()

,index,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,0,48.0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,1,83.0,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...,...
111,111,45.0,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,112,62.0,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,113,65.0,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,114,72.0,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [46]:
df.drop(columns=['Age'])

,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...
111,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [47]:
pd.melt(df)

            variable value
0                Age  48.0
1                Age  83.0
2                Age  82.0
3                Age  68.0
4                Age  86.0
...              ...   ...
1155  Classification     2
1156  Classification     2
1157  Classification     2
1158  Classification     2
1159  Classification     2

[1160 rows x 2 columns]

In [48]:
df.drop_duplicates()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48.0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83.0,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45.0,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62.0,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65.0,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72.0,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [49]:
df.head(5)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48.0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83.0,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1

In [50]:
df.tail(5)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
111,45.0,26.85,92,3.33,0.755688,54.68,12.10,10.96,268.23,2
112,62.0,26.84,100,4.53,1.117400,12.45,21.42,7.32,330.16,2
113,65.0,32.05,97,5.73,1.370998,61.48,22.54,10.33,314.05,2
114,72.0,25.59,82,2.82,0.570392,24.96,33.75,3.27,392.46,2
115,86.0,27.18,138,19.91,6.777364,90.28,14.11,4.35,90.09,2

In [51]:
df.count()

Age               116
BMI               116
Glucose           116
Insulin           116
HOMA              116
Leptin            116
Adiponectin       116
Resistin          116
MCP.1             116
Classification    116
dtype: int64

In [52]:
for col in df.columns:
    print(f"Unique values in {col}: {df[col].unique()}")

# Convert non-numeric values to NaN for the 'Classification' column
df['Classification'] = pd.to_numeric(df['Classification'], errors='coerce')

# Calculate the median for numeric columns only
df.median()

Unique values in Age: [48. 83. 82. 68. 86. 49. 89. 76. 73. 75. 34. 29. 25. 24. 38. 44. 47. 61.
 64. 32. 36. 35. 54. 45. 50. 66. 53. 28. 43. 51. 67. 69. 60. 77. 71. 78.
 85. 42. 62. 59. 46. 72. 55. 41. 81. 65. 58. 40. 52. 74. 57.]
Unique values in BMI: [23.5        20.69049454 23.12467037 21.36752137 21.11111111 22.85445769
 22.7        23.8        22.         23.         21.47       23.01
 22.86       18.67       23.34       20.76       22.03       32.03895937
 34.5297228  36.51263743 28.57667585 31.97501487 32.27078777 30.27681661
 30.48315806 37.03560819 38.57875854 31.44654088 35.2507611  34.17489
 36.21227888 36.7901662  35.85581466 34.42217362 27.68877813 29.60676726
 31.2385898  35.09270153 26.34929208 35.58792924 29.2184076  27.2
 27.3        32.5        30.3        27.7        25.7        25.3
 29.4        26.6        27.1        25.9        21.30394858 20.82999519
 20.9566075  24.24242424 21.35991456 21.08281329 19.13265306 22.65625
 22.4996371  21.51385851 22.89281998 22.83287935 23.14049587 24.21875
 22.22222222 20.83       19.56       20.26       24.74       18.37
 23.62       22.21       26.5625     31.25       26.66666667 26.6727633
 28.67262608 31.64036818 32.46191136 25.51020408 29.296875   29.666548
 28.125      29.15451895 30.83653053 31.21748179 30.8012487  31.23140988
 29.77777778 27.88761707 27.63605442 27.91551882 28.44444444 28.65013774
 30.91557669 29.13631634 34.83814777 37.109375   29.38475666 33.18
 35.56       30.48       36.05       26.85       26.84       32.05
 25.59       27.18      ]
Unique values in Glucose: [ 70  92  91  77 118  97  83  78  82  88  75  86  84  85  95  87  90 106
  80 101  89  79 103  76  94  93 102  60  96 110  74 112  98 116 114 105
 201 100  99 196 199 139 128 134 131 104 108 152 119 138]
Unique values in Insulin: [ 2.707  3.115  4.498  3.226  3.549  4.69   6.47   3.35   4.952  3.469
  5.663  4.09   6.107  5.782  7.553  2.869 18.077  4.427 14.026  4.345
  4.53   5.81   4.376  5.537  6.76   6.703  9.245  6.817  6.59  15.533
 10.175  8.576 23.194  3.855  5.819  4.181  5.646  5.138  3.881  5.376
 14.07   5.197  5.43   8.34   6.042  8.079  3.508 10.704  4.462 26.211
  4.58  13.852  4.56  12.305 21.699  2.999  6.2    4.364  3.482  5.261
  6.683  2.64   2.74   6.862  4.902  3.73   5.7    3.42  15.89   3.44
 58.46   6.03   4.42  36.94  10.555 16.635  4.328 41.611 22.033  3.188
  9.669 28.677 10.395  4.172 14.649  2.54  51.814 12.162 16.582 41.894
 30.212 24.887 30.13   8.396  9.208  2.432 18.2    8.808  3.012  6.524
 10.491 10.949 12.548  5.636  4.713  5.75   8.15   7.01  11.91   3.33
  5.73   2.82  19.91 ]
Unique values in HOMA: [ 0.46740867  0.70689733  1.00965107  0.61272493  0.8053864   0.73208693
  0.89078733  1.88320133  0.80154333  1.01383947  0.6674356   1.14543613
  0.82727067  1.33        1.06967     1.6         0.59        3.79014433
  1.03739367  3.0099796   0.92171933  0.972138    1.203832    0.9067072
  1.229214    1.38399733  1.75261107  2.05239     1.513374    1.30042667
  3.86978807  2.53493167  1.8404096   5.09185613  0.732193    1.13392913
  0.84567693  1.4066068   1.30539453  0.72755813  1.1006464   3.262364
  1.08963767  1.245642    2.098344    1.341324    1.8732508   0.519184
  2.3498848   1.0566016   7.111918    0.96027333  3.4851632   0.832352
  2.85311933  4.9242264   0.6879706   1.55992     1.0011016   0.79018187
  1.23282767  1.84629013  0.507936    0.69614267  1.65877413  1.4026256
  0.79125733  1.37788     0.742368    4.468268    0.78065067 15.28534133
  1.56177     1.14478     7.83620533  2.62960233  3.775036    1.09960053
 20.6307338   5.27176247  0.60550747  2.38502     7.0029234   2.871792
  1.00851147  3.071407    0.56388    25.05034187  5.9699204   5.68541507
 13.22733227  4.45899333  6.4834952   8.22598307  9.73600733  1.44970933
  2.2485936   0.61789013  4.66890667  2.3464512   0.6538048   1.43223547
  2.5101466   2.24162527  2.94041467  1.86288587  1.046286    1.30486667
  2.63353667  2.62828267  3.495982    0.755688    1.1174      1.370998
  0.570392    6.777364  ]
Unique values in Leptin: [ 8.8071  8.8438 17.9393  9.8827  6.6994  6.8317  6.964   4.311   4.47
 17.127  14.57   35.59   20.45    8.88   15.26   14.09   26.65   30.7729
 21.2117 49.3727 15.1248 28.7502 45.6196 39.2134 12.331  39.9802 46.6401
 45.9624 50.6094 10.2809 74.7069 27.1841 68.5102 31.2128 20.092  21.9033
 16.2247 83.4821 24.2998 21.7863 28.562  35.891  10.39   15.145  56.502
 24.846  65.926   6.633  45.272   7.85   21.778  13.74    7.6476  7.7529
 11.2406 16.7353 19.0826  9.6994 11.0816  9.8648  8.438  32.58    6.3339
  8.0163 14.9037 17.9973  8.6874 12.1905 12.87   13.08    7.65   18.16
  9.62   21.78   10.16    9.8    37.2234 25.7816 47.647  44.7059 17.022
 38.8066 46.076  19.0653 12.2617 26.5166 15.5325 70.8824 18.1314 22.8884
 31.0385 31.6453 29.2739 42.3914 37.843  51.3387 12.6757 14.3224 53.4997
 14.7485 31.1233 14.9084 44.0217 26.8081 33.1612 41.4064 23.8479 18.69
 17.87   50.53   89.27   54.68   12.45   61.48   24.96   90.28  ]
Unique values in Adiponectin: [ 9.7024    5.429285 22.43204   7.16956   4.81924  13.67975   5.589865
 13.25132  10.358725 11.57899  13.11     26.72     23.67     36.06
 17.95     20.32     38.04      7.780255  5.46262   5.1       8.6
  7.64276   6.209635  9.048185  9.73138   4.617125  4.667645 10.35526
  6.966895  5.065915  7.53955  20.03      4.7942    8.300955  3.19209
  2.19428   4.267105  6.796985  8.12555   7.36996   9.34663   9.000805
 11.78796   8.13      7.652055  3.74122  10.567295  8.2863    7.9317
  4.935635  9.75326  21.056625  8.237405  8.412175 21.823745  8.462915
  8.574655  5.80762  11.236235  4.77192   4.138025  3.886145  9.349775
  4.230105  4.294705  3.70523   4.783985 18.55     20.37     16.67
 16.1      12.76     17.86      9.76      6.420295 11.018455 12.71896
  5.357135 13.494865 16.44048  10.636525 21.57      5.4861    6.695585
  7.28287  10.22231   7.901685  4.104105 10.26266   6.160995  9.92365
  6.26854  10.79394   8.40443  10.73174   5.47817   6.78387   1.65602
  5.288025  7.65222   8.42996   3.71009   2.78491   2.36495   3.335665
  6.644245  9.16     11.9      10.06      8.01     12.1      21.42
 22.54     33.75     14.11    ]
Unique values in Resistin: [ 7.99585  4.06405  9.27715 12.766   10.57635 10.3176  12.9361   5.1042
  6.28445  7.0913   6.92     4.58     5.14     6.85     9.35     7.64
  3.32    13.68392  6.70188 17.10223  9.1539   5.62592 24.6033  16.43706
 10.19299  8.70448 11.78388 23.3819  22.03703 15.72187 22.32024 10.26309
 21.44366  6.71026 10.37518  4.2075   3.29175 82.1     20.2535  17.2615
  8.04375  8.4156   7.5767  11.78796  4.2989   6.7052   4.49685  4.6638
  4.53     9.6135   8.49395 11.774   23.03408 28.0323  23.1177  12.06534
 17.37615 13.74244  5.57055 10.69548 15.73606 15.69876 22.94254 11.55492
  8.2049   5.2633  10.34455 13.91245 13.56     4.62     7.84     5.31
  3.21     4.82     5.68    16.1      7.16514 38.6531  24.3701  27.8325
 31.6904  29.5583  10.15726 42.7447  53.6717  19.46324 16.11032 55.2153
 53.6308  13.97399 17.55503 19.94687 24.24591  5.768   11.50005 20.76801
 23.03306 26.0136  49.24184 16.48508 18.35574 14.91922 20.4685  14.76966
  9.9542   6.89235 15.55625  8.89     4.19    11.73     5.06    10.96
  7.32    10.33     3.27     4.35   ]
Unique values in MCP.1: [ 417.114  468.786  554.697  928.22   773.92   530.41  1256.083  280.694
  136.855  318.302  354.6    174.8    313.73   632.22   165.02    63.61
  191.72   444.395  252.449  588.46   534.224  572.783  904.981  733.797
 1227.91   586.173  887.16  1102.11   667.928  581.313  864.968  695.754
  358.624  960.246  473.859  585.307  634.602  263.499  378.996  618.272
  698.789  377.227  335.393  270.142  200.976  225.88   206.802  209.749
  215.769  232.006   45.843  488.829  552.444  382.955  573.63   481.949
  321.919  448.799   90.6    703.973  199.055  713.239  737.672  359.232
  355.31   518.586  635.049  395.976  301.21   220.66   193.87   244.75
  513.66   195.94   312.     806.724  483.377  775.322 1698.44   783.796
  910.489  426.175  738.034  799.898 1041.843 1078.359  923.886  638.261
  994.316  764.667  656.393  396.021  602.486  407.206  293.123  256.001
  353.568  572.401  269.487  396.648  232.018  655.834  788.902  621.273
  209.19   198.4     99.45   218.28   268.23   330.16   314.05   392.46
   90.09 ]
Unique values in Classification: ['1' 'na' '2']

Age                56.000000
BMI                27.662416
Glucose            92.000000
Insulin             5.924500
HOMA                1.380939
Leptin             20.271000
Adiponectin         8.352692
Resistin           10.827740
MCP.1             471.322500
Classification      2.000000
dtype: float64

In [53]:
df.quantile

<bound method DataFrame.quantile of       Age        BMI  Glucose  Insulin      HOMA   Leptin  Adiponectin  \
0    48.0  23.500000       70    2.707  0.467409   8.8071     9.702400
1    83.0  20.690495       92    3.115  0.706897   8.8438     5.429285
2    82.0  23.124670       91    4.498  1.009651  17.9393    22.432040
3    68.0  21.367521       77    3.226  0.612725   9.8827     7.169560
4    86.0  21.111111       92    3.549  0.805386   6.6994     4.819240
..    ...        ...      ...      ...       ...      ...          ...
111  45.0  26.850000       92    3.330  0.755688  54.6800    12.100000
112  62.0  26.840000      100    4.530  1.117400  12.4500    21.420000
113  65.0  32.050000       97    5.730  1.370998  61.4800    22.540000
114  72.0  25.590000       82    2.820  0.570392  24.9600    33.750000
115  86.0  27.180000      138   19.910  6.777364  90.2800    14.110000

     Resistin    MCP.1  Classification
0     7.99585  417.114             1.0
1     4.06405  468.786             1.0
2     9.27715  554.697             1.0
3    12.76600  928.220             1.0
4    10.57635  773.920             1.0
..        ...      ...             ...
111  10.96000  268.230             2.0
112   7.32000  330.160             2.0
113  10.33000  314.050             2.0
114   3.27000  392.460             2.0
115   4.35000   90.090             2.0

[116 rows x 10 columns]>

In [54]:
df.min()

Age               24.000000
BMI               18.370000
Glucose           60.000000
Insulin            2.432000
HOMA               0.467409
Leptin             4.311000
Adiponectin        1.656020
Resistin           3.210000
MCP.1             45.843000
Classification     1.000000
dtype: float64

In [55]:
df.max()

Age                 89.000000
BMI                 38.578759
Glucose            201.000000
Insulin             58.460000
HOMA                25.050342
Leptin              90.280000
Adiponectin         38.040000
Resistin            82.100000
MCP.1             1698.440000
Classification       2.000000
dtype: float64

In [56]:
for col in df.columns:
    print(f"Unique values in {col}: {df[col].unique()}")

df.mean()

Unique values in Age: [48. 83. 82. 68. 86. 49. 89. 76. 73. 75. 34. 29. 25. 24. 38. 44. 47. 61.
 64. 32. 36. 35. 54. 45. 50. 66. 53. 28. 43. 51. 67. 69. 60. 77. 71. 78.
 85. 42. 62. 59. 46. 72. 55. 41. 81. 65. 58. 40. 52. 74. 57.]
Unique values in BMI: [23.5        20.69049454 23.12467037 21.36752137 21.11111111 22.85445769
 22.7        23.8        22.         23.         21.47       23.01
 22.86       18.67       23.34       20.76       22.03       32.03895937
 34.5297228  36.51263743 28.57667585 31.97501487 32.27078777 30.27681661
 30.48315806 37.03560819 38.57875854 31.44654088 35.2507611  34.17489
 36.21227888 36.7901662  35.85581466 34.42217362 27.68877813 29.60676726
 31.2385898  35.09270153 26.34929208 35.58792924 29.2184076  27.2
 27.3        32.5        30.3        27.7        25.7        25.3
 29.4        26.6        27.1        25.9        21.30394858 20.82999519
 20.9566075  24.24242424 21.35991456 21.08281329 19.13265306 22.65625
 22.4996371  21.51385851 22.89281998 22.83287935 23.14049587 24.21875
 22.22222222 20.83       19.56       20.26       24.74       18.37
 23.62       22.21       26.5625     31.25       26.66666667 26.6727633
 28.67262608 31.64036818 32.46191136 25.51020408 29.296875   29.666548
 28.125      29.15451895 30.83653053 31.21748179 30.8012487  31.23140988
 29.77777778 27.88761707 27.63605442 27.91551882 28.44444444 28.65013774
 30.91557669 29.13631634 34.83814777 37.109375   29.38475666 33.18
 35.56       30.48       36.05       26.85       26.84       32.05
 25.59       27.18      ]
Unique values in Glucose: [ 70  92  91  77 118  97  83  78  82  88  75  86  84  85  95  87  90 106
  80 101  89  79 103  76  94  93 102  60  96 110  74 112  98 116 114 105
 201 100  99 196 199 139 128 134 131 104 108 152 119 138]
Unique values in Insulin: [ 2.707  3.115  4.498  3.226  3.549  4.69   6.47   3.35   4.952  3.469
  5.663  4.09   6.107  5.782  7.553  2.869 18.077  4.427 14.026  4.345
  4.53   5.81   4.376  5.537  6.76   6.703  9.245  6.817  6.59  15.533
 10.175  8.576 23.194  3.855  5.819  4.181  5.646  5.138  3.881  5.376
 14.07   5.197  5.43   8.34   6.042  8.079  3.508 10.704  4.462 26.211
  4.58  13.852  4.56  12.305 21.699  2.999  6.2    4.364  3.482  5.261
  6.683  2.64   2.74   6.862  4.902  3.73   5.7    3.42  15.89   3.44
 58.46   6.03   4.42  36.94  10.555 16.635  4.328 41.611 22.033  3.188
  9.669 28.677 10.395  4.172 14.649  2.54  51.814 12.162 16.582 41.894
 30.212 24.887 30.13   8.396  9.208  2.432 18.2    8.808  3.012  6.524
 10.491 10.949 12.548  5.636  4.713  5.75   8.15   7.01  11.91   3.33
  5.73   2.82  19.91 ]
Unique values in HOMA: [ 0.46740867  0.70689733  1.00965107  0.61272493  0.8053864   0.73208693
  0.89078733  1.88320133  0.80154333  1.01383947  0.6674356   1.14543613
  0.82727067  1.33        1.06967     1.6         0.59        3.79014433
  1.03739367  3.0099796   0.92171933  0.972138    1.203832    0.9067072
  1.229214    1.38399733  1.75261107  2.05239     1.513374    1.30042667
  3.86978807  2.53493167  1.8404096   5.09185613  0.732193    1.13392913
  0.84567693  1.4066068   1.30539453  0.72755813  1.1006464   3.262364
  1.08963767  1.245642    2.098344    1.341324    1.8732508   0.519184
  2.3498848   1.0566016   7.111918    0.96027333  3.4851632   0.832352
  2.85311933  4.9242264   0.6879706   1.55992     1.0011016   0.79018187
  1.23282767  1.84629013  0.507936    0.69614267  1.65877413  1.4026256
  0.79125733  1.37788     0.742368    4.468268    0.78065067 15.28534133
  1.56177     1.14478     7.83620533  2.62960233  3.775036    1.09960053
 20.6307338   5.27176247  0.60550747  2.38502     7.0029234   2.871792
  1.00851147  3.071407    0.56388    25.05034187  5.9699204   5.68541507
 13.22733227  4.45899333  6.4834952   8.22598307  9.73600733  1.44970933
  2.2485936   0.61789013  4.66890667  2.3464512   0.6538048   1.43223547
  2.5101466   2.24162527  2.94041467  1.86288587  1.046286    1.30486667
  2.63353667  2.62828267  3.495982    0.755688    1.1174      1.370998
  0.570392    6.777364  ]
Unique values in Leptin: [ 8.8071  8.8438 17.9393  9.8827  6.6994  6.8317  6.964   4.311   4.47
 17.127  14.57   35.59   20.45    8.88   15.26   14.09   26.65   30.7729
 21.2117 49.3727 15.1248 28.7502 45.6196 39.2134 12.331  39.9802 46.6401
 45.9624 50.6094 10.2809 74.7069 27.1841 68.5102 31.2128 20.092  21.9033
 16.2247 83.4821 24.2998 21.7863 28.562  35.891  10.39   15.145  56.502
 24.846  65.926   6.633  45.272   7.85   21.778  13.74    7.6476  7.7529
 11.2406 16.7353 19.0826  9.6994 11.0816  9.8648  8.438  32.58    6.3339
  8.0163 14.9037 17.9973  8.6874 12.1905 12.87   13.08    7.65   18.16
  9.62   21.78   10.16    9.8    37.2234 25.7816 47.647  44.7059 17.022
 38.8066 46.076  19.0653 12.2617 26.5166 15.5325 70.8824 18.1314 22.8884
 31.0385 31.6453 29.2739 42.3914 37.843  51.3387 12.6757 14.3224 53.4997
 14.7485 31.1233 14.9084 44.0217 26.8081 33.1612 41.4064 23.8479 18.69
 17.87   50.53   89.27   54.68   12.45   61.48   24.96   90.28  ]
Unique values in Adiponectin: [ 9.7024    5.429285 22.43204   7.16956   4.81924  13.67975   5.589865
 13.25132  10.358725 11.57899  13.11     26.72     23.67     36.06
 17.95     20.32     38.04      7.780255  5.46262   5.1       8.6
  7.64276   6.209635  9.048185  9.73138   4.617125  4.667645 10.35526
  6.966895  5.065915  7.53955  20.03      4.7942    8.300955  3.19209
  2.19428   4.267105  6.796985  8.12555   7.36996   9.34663   9.000805
 11.78796   8.13      7.652055  3.74122  10.567295  8.2863    7.9317
  4.935635  9.75326  21.056625  8.237405  8.412175 21.823745  8.462915
  8.574655  5.80762  11.236235  4.77192   4.138025  3.886145  9.349775
  4.230105  4.294705  3.70523   4.783985 18.55     20.37     16.67
 16.1      12.76     17.86      9.76      6.420295 11.018455 12.71896
  5.357135 13.494865 16.44048  10.636525 21.57      5.4861    6.695585
  7.28287  10.22231   7.901685  4.104105 10.26266   6.160995  9.92365
  6.26854  10.79394   8.40443  10.73174   5.47817   6.78387   1.65602
  5.288025  7.65222   8.42996   3.71009   2.78491   2.36495   3.335665
  6.644245  9.16     11.9      10.06      8.01     12.1      21.42
 22.54     33.75     14.11    ]
Unique values in Resistin: [ 7.99585  4.06405  9.27715 12.766   10.57635 10.3176  12.9361   5.1042
  6.28445  7.0913   6.92     4.58     5.14     6.85     9.35     7.64
  3.32    13.68392  6.70188 17.10223  9.1539   5.62592 24.6033  16.43706
 10.19299  8.70448 11.78388 23.3819  22.03703 15.72187 22.32024 10.26309
 21.44366  6.71026 10.37518  4.2075   3.29175 82.1     20.2535  17.2615
  8.04375  8.4156   7.5767  11.78796  4.2989   6.7052   4.49685  4.6638
  4.53     9.6135   8.49395 11.774   23.03408 28.0323  23.1177  12.06534
 17.37615 13.74244  5.57055 10.69548 15.73606 15.69876 22.94254 11.55492
  8.2049   5.2633  10.34455 13.91245 13.56     4.62     7.84     5.31
  3.21     4.82     5.68    16.1      7.16514 38.6531  24.3701  27.8325
 31.6904  29.5583  10.15726 42.7447  53.6717  19.46324 16.11032 55.2153
 53.6308  13.97399 17.55503 19.94687 24.24591  5.768   11.50005 20.76801
 23.03306 26.0136  49.24184 16.48508 18.35574 14.91922 20.4685  14.76966
  9.9542   6.89235 15.55625  8.89     4.19    11.73     5.06    10.96
  7.32    10.33     3.27     4.35   ]
Unique values in MCP.1: [ 417.114  468.786  554.697  928.22   773.92   530.41  1256.083  280.694
  136.855  318.302  354.6    174.8    313.73   632.22   165.02    63.61
  191.72   444.395  252.449  588.46   534.224  572.783  904.981  733.797
 1227.91   586.173  887.16  1102.11   667.928  581.313  864.968  695.754
  358.624  960.246  473.859  585.307  634.602  263.499  378.996  618.272
  698.789  377.227  335.393  270.142  200.976  225.88   206.802  209.749
  215.769  232.006   45.843  488.829  552.444  382.955  573.63   481.949
  321.919  448.799   90.6    703.973  199.055  713.239  737.672  359.232
  355.31   518.586  635.049  395.976  301.21   220.66   193.87   244.75
  513.66   195.94   312.     806.724  483.377  775.322 1698.44   783.796
  910.489  426.175  738.034  799.898 1041.843 1078.359  923.886  638.261
  994.316  764.667  656.393  396.021  602.486  407.206  293.123  256.001
  353.568  572.401  269.487  396.648  232.018  655.834  788.902  621.273
  209.19   198.4     99.45   218.28   268.23   330.16   314.05   392.46
   90.09 ]
Unique values in Classification: [ 1. nan  2.]

Age                57.301724
BMI                27.582111
Glucose            97.793103
Insulin            10.012086
HOMA                2.694988
Leptin             26.615080
Adiponectin        10.180874
Resistin           14.725966
MCP.1             534.647000
Classification      1.561404
dtype: float64

In [57]:
# Convert all numeric columns
df = df.apply(pd.to_numeric, errors='coerce')
df.std()

Age                16.112766
BMI                 5.020136
Glucose            22.525162
Insulin            10.067768
HOMA                3.642043
Leptin             19.183294
Adiponectin         6.843341
Resistin           12.390646
MCP.1             345.912663
Classification      0.498406
dtype: float64

In [58]:
pd.get_dummies(df['Age'])

,24.0,25.0,28.0,29.0,32.0,34.0,35.0,36.0,38.0,40.0,...,75.0,76.0,77.0,78.0,81.0,82.0,83.0,85.0,86.0,89.0
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
112,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
113,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
114,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
115,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [59]:
pd.get_dummies(df['Glucose'])

,60,70,74,75,76,77,78,79,80,82,...,119,128,131,134,138,139,152,196,199,201
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
112,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
113,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
114,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
115,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [60]:
df.iloc[2:50]

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1.0
3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1.0
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1.0
5,49.0,22.854458,92,3.226,0.732087,6.8317,13.679750,10.31760,530.410,1.0
6,89.0,22.700000,77,4.690,0.890787,6.9640,5.589865,12.93610,1256.083,1.0
7,76.0,23.800000,118,6.470,1.883201,4.3110,13.251320,5.10420,280.694,1.0
8,73.0,22.000000,97,3.350,0.801543,4.4700,10.358725,6.28445,136.855,1.0
9,75.0,23.000000,83,4.952,1.013839,17.1270,11.578990,7.09130,318.302,1.0
10,34.0,21.470000,78,3.469,0.667436,14.5700,13.110000,6.92000,354.600,1.0
11,29.0,23.010000,82,5.663,1.145436,35.5900,26.720000,4.58000,174.800,1.0
12,25.0,22.860000,82,4.090,0.827271,20.4500,23.670000,5.14000,313.730,1.0
13,24.0,18.670000,88,6.107,1.330000,8.8800,36.060000,6.85000,632.220,1.0
14,38.0,23.340000,75,5.782,1.069670,15.2600,17.950000,9.35000,165.020,1.0
15,44.0,20.760000,86,7.553,1.600000,14.0900,20.320000,7.64000,63.610,1.0
16,47.0,22.030000,84,2.869,0.590000,26.6500,38.040000,3.32000,191.720,NaN
17,61.0,32.038959,85,18.077,3.790144,30.7729,7.780255,13.68392,444.395,NaN
18,64.0,34.529723,95,4.427,1.037394,21.2117,5.462620,6.70188,252.449,1.0
19,32.0,36.512637,87,14.026,3.009980,49.3727,5.100000,17.10223,588.460,1.0
20,36.0,28.576676,86,4.345,0.921719,15.1248,8.600000,9.15390,534.224,1.0
21,34.0,31.975015,87,4.530,0.972138,28.7502,7.642760,5.62592,572.783,1.0
22,29.0,32.270788,84,5.810,1.203832,45.6196,6.209635,24.60330,904.981,1.0
23,35.0,30.276817,84,4.376,0.906707,39.2134,9.048185,16.43706,733.797,1.0
24,54.0,30.483158,90,5.537,1.229214,12.3310,9.731380,10.19299,1227.910,1.0
25,45.0,37.035608,83,6.760,1.383997,39.9802,4.617125,8.70448,586.173,1.0
26,50.0,38.578759,106,6.703,1.752611,46.6401,4.667645,11.78388,887.160,1.0
27,66.0,31.446541,90,9.245,2.052390,45.9624,10.355260,23.38190,1102.110,1.0
28,35.0,35.250761,90,6.817,1.513374,50.6094,6.966895,22.03703,667.928,1.0
29,36.0,34.174890,80,6.590,1.300427,10.2809,5.065915,15.72187,581.313,1.0
30,66.0,36.212279,101,15.533,3.869788,74.7069,7.539550,22.32024,864.968,1.0
31,53.0,36.790166,101,10.175,2.534932,27.1841,20.030000,10.26309,695.754,1.0
32,28.0,35.855815,87,8.576,1.840410,68.5102,4.794200,21.44366,358.624,1.0
33,43.0,34.422174,89,23.194,5.091856,31.2128,8.300955,6.71026,960.246,1.0
34,51.0,27.688778,77,3.855,0.732193,20.0920,3.192090,10.37518,473.859,1.0
35,67.0,29.606767,79,5.819,1.133929,21.9033,2.194280,4.20750,585.307,1.0
36,66.0,31.238590,82,4.181,0.845677,16.2247,4.267105,3.29175,634.602,1.0
37,69.0,35.092702,101,5.646,1.406607,83.4821,6.796985,82.10000,263.499,1.0
38,60.0,26.349292,103,5.138,1.305395,24.2998,2.194280,20.25350,378.996,1.0
39,77.0,35.587929,76,3.881,0.727558,21.7863,8.125550,17.26150,618.272,1.0
40,76.0,29.218408,83,5.376,1.100646,28.5620,7.369960,8.04375,698.789,1.0
41,76.0,27.200000,94,14.070,3.262364,35.8910,9.346630,8.41560,377.227,1.0
42,75.0,27.300000,85,5.197,1.089638,10.3900,9.000805,7.57670,335.393,1.0
43,69.0,32.500000,93,5.430,1.245642,15.1450,11.787960,11.78796,270.142,1.0
44,71.0,30.300000,102,8.340,2.098344,56.5020,8.130000,4.29890,200.976,1.0
45,66.0,27.700000,90,6.042,1.341324,24.8460,7.652055,6.70520,225.880,1.0
46,75.0,25.700000,94,8.079,1.873251,65.9260,3.741220,4.49685,206.802,1.0
47,78.0,25.300000,60,3.508,0.519184,6.6330,10.567295,4.66380,209.749,1.0
48,69.0,29.400000,89,10.704,2.349885,45.2720,8.286300,4.53000,215.769,1.0
49,85.0,26.600000,96,4.462,1.056602,7.8500,7.931700,9.61350,232.006,1.0

In [61]:
print(pd.get_dummies(df['Glucose']))

       60     70     74     75     76     77     78     79     80     82   \
0    False   True  False  False  False  False  False  False  False  False
1    False  False  False  False  False  False  False  False  False  False
2    False  False  False  False  False  False  False  False  False  False
3    False  False  False  False  False   True  False  False  False  False
4    False  False  False  False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
111  False  False  False  False  False  False  False  False  False  False
112  False  False  False  False  False  False  False  False  False  False
113  False  False  False  False  False  False  False  False  False  False
114  False  False  False  False  False  False  False  False  False   True
115  False  False  False  False  False  False  False  False  False  False

     ...    119    128    131    134    138    139    152    196    199    201
0    ...  False  False  False  False  False  False  False  False  False  False
1    ...  False  False  False  False  False  False  False  False  False  False
2    ...  False  False  False  False  False  False  False  False  False  False
3    ...  False  False  False  False  False  False  False  False  False  False
4    ...  False  False  False  False  False  False  False  False  False  False
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
111  ...  False  False  False  False  False  False  False  False  False  False
112  ...  False  False  False  False  False  False  False  False  False  False
113  ...  False  False  False  False  False  False  False  False  False  False
114  ...  False  False  False  False  False  False  False  False  False  False
115  ...  False  False  False  False   True  False  False  False  False  False

[116 rows x 50 columns]